@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #2463ff;
  --dark-navy: #261676;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--white);
  background: var(--dark-navy);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-lg {
  @apply text-[88px] font-bold;
}
.heading-md {
  @apply text-5xl font-bold;
}
.heading-sm {
  @apply text-3xl font-bold;
}

.page-wrapper {
  @apply w-full max-w-[calc(100vw-50px)] md:max-w-[calc(100vw-200px)] mx-auto py-10;
}
